<app-home></app-home>

<h2 class="mt-5">Create a new reservation</h2>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    
    <div class="row mb-2">
        <div class="col">
            <label class="form-label">Check-In date: </label>
            <input class="form-control" type="date" formControlName = "checkInDate"> 
            <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid
            && reservationForm.get('checkInDate')?.touched">
                Check-In Date is required !!!
            </small>
        </div>
    
        <div class="col">
            <label class="form-label">Check-Out date: </label>
            <input class="form-control" type="date" formControlName = "checkOutDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid
            && reservationForm.get('checkOutDate')?.touched">
                Check-Out Date is required !!!
            </small>
        </div>
    </div>
    
    

    <div class="mb-2">
        <label class="form-label">Guess Name: </label>
        <input class="form-control" type="text" formControlName = "guessName">
        <small class="text-danger" *ngIf="reservationForm.get('guessName')?.invalid
        && reservationForm.get('guessName')?.touched">
            Guess's name is not empty !!!
        </small>
    </div>

    <div class="mb-2">
        <label class="form-label">Guess Email: </label>
        <input class="form-control" type="email" formControlName = "guessEmail">
        <small class="text-danger" *ngIf="reservationForm.get('guessEmail')?.invalid
        && reservationForm.get('guessEmail')?.touched">
            Guess's email is not empty !!!
        </small>
    </div>

    <div class="mb-2">
        <label class="form-label">Room Number: </label>
        <input class="form-control" type="number" formControlName = "roomNumber">
        <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid
        && reservationForm.get('roomNumber')?.touched">
            Room's number is required !!!
        </small>
    </div>


    <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid">Submit</button>


</form>