<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Check-In date: </label>
        <input type="date" formControlName = "checkInDate"> 
    </div>

    <div>
        <label>Check-Out date: </label>
        <input type="date" formControlName = "checkOutDate">
    </div>

    <div>
        <label>Guess Name: </label>
        <input type="text" formControlName = "guessName">
    </div>

    <div>
        <label>Guess Email: </label>
        <input type="email" formControlName = "guessEmail">
    </div>

    <div>
        <label>Room Number: </label>
        <input type="number" formControlName = "roomNumber">
    </div>


    <button type="submit">Submit</button>


</form>